<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<body>
    <section layout:fragment="container">
        <div class="container mt-3">
            <h1 th:text="${title}"></h1>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-1 mb-3" onclick="openForm()">
                New Variant
            </button>

            <table class="table table-bordered table-striped table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Category/Product</th>
                        <th scope="col">Initial</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Active</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="variant, iter : ${variants}">
                        <td th:text="${variant.product.category.name +  '/' + variant.product.name}"></td>
                        <td th:text="${variant.slug}"></td>
                        <td th:text="${variant.name}"></td>
                        <td th:text="${variant.price}"></td>
                        <td th:text="${variant.stock}"></td>
                        <td class="text-center">
                            <input type="checkbox" disabled="true" th:checked= "${variant.active}"></input>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-warning" th:value="${variant.id}" onclick="editForm(this.value)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" th:value="${variant.id}" onclick="deleteForm(this.value)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="myModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>

        <script src="js/variant.js"></script>
    </section>
</body>
</html>